/* Reset de estilos e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

header h1 {
    font-size: 36px;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header p {
    font-size: 18px;
}

h2 {
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

/* Conteúdo principal */
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: whitesmoke;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.container p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

/* Imagem de perfil */
.profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 0 auto 20px;
    display: block;
}

p {
    text-align: center;
}

a {
    /* position define a posição de um elemento em relação a outros na tela */
    position: relative;
    background: #fff;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    text-transform: uppercase;
    /* em é o tamanho da fonte relativo a fonte do elemento pai */
    font-size: 1.5em;
    letter-spacing: 0.1em;
    font-weight: 600;
    padding: 10px 30px;
    /* transition permite a animação de um elemento em determinado tempo */
    transition: 0.5s;
}

a:hover {
    background-color: var(--clr);
    color: var(--clr);
    letter-spacing: 0.25em;
    box-shadow: 0 0 35px var(--clr);
}

a::before {
    /* As pseudo-classes ::before e ::after em CSS permitem inserir 
    conteúdo adicional antes ou depois do conteúdo do elemento selecionado, 
    sem a necessidade de adicionar conteúdo HTML adicional. */
    content: '';
    position: absolute;
    /* propriedade inset em CSS é uma abreviação para definir os valores das 
    propriedades top, right, bottom e left em uma única linha */
    inset: 2px;
    background: #27282c;
}

a span {
    position: relative;
    z-index: 1;
}

a i {
    position: absolute;
    inset: 0;
    display: block;
}

a i::before {
    content: '';
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::before {
    width: 20px;
    left: 20%;
}

a i::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20%;
    width: 10px;
    height: 4px;
    background: #27282c;
    transform: translateX(-50%) skewX(325deg);
    transition: 0.5s;
}

a:hover i::after {
    width: 20px;
    left: 80%;
}

/* Rodapé */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}


@media (max-width: 600px) {
    body {
        font-size: 16px;
    }

    /* Ajuste de estilos para o cabeçalho em telas menores */
    header h1 {
        font-size: 24px;
    }

    header p {
        font-size: 16px;
    }

    .container {
        padding: 10px;
    }

    .container h2 {
        font-size: 20px;
    }

    .container p {
        font-size: 14px;
    }

    a span {
        font-size: 13px;
    }

    /* Ajuste de estilos para a imagem de perfil em telas menores */
    .profile-image {
        width: 150px;
        height: 150px;
    }
}